a {
	font-size: 30pt;
	+a {
		font-size: 20pt;
	}
}

.btn-home-404 {
	border-radius: 5px;
	background-color: #609960;
	color: white;
}

nav {
	>a {
		font-size: 15pt;
		&.active {
			font-weight: bold;
		}
	}
}